html, body{
	height:100%;
}
.sticky-footer{
	&.beyond-fold{
		.global-wrapper{
			min-height:100%;
			margin-bottom: -50px;
			&:after{
				content: ' ';
				display: block;
				height: 50px;
			}
		}
		&.w-flexbox{
			.the-footer{
				flex-shrink: 0;
			}
			.flexbox &,
			.flexboxlegacy &
			{
				.global-wrapper{
					min-height: 0;
					margin-bottom: 0;
					&:after{
						content: none;
					}
				}	
			}
		}
	}
	&.w-flexbox{
		display: flex;
		flex-direction: column;
		.global-wrapper{
			flex: 1 0 auto;
		}
	}
	.something{
		height: 55px;
	}
	&.extend{
		background: #333;
		.global-wrapper{
			background-color: white;
		}
	}
}