.sticky-footer{
	height:100%;
	body{
		height: 100%;
	}
	&.w-flexbox{
		body{
			display: flex;
			flex-direction: column;
		}
		.global-wrapper{
			flex: 1;
		}
	}
	&.beyond-fold{
		.global-wrapper{
			min-height:100%;
			margin-bottom: -50px;
			&:after{
				content: ' ';
				display: block;
				height: 50px;
			}
		}
	}
	&.extend{
		body{
			background: #333;
		}
		.main{
			background-color: white;
		}
	}
}
